@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: #ffffff;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.bg-light {
    background: #EAEDF0;
}